# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# IDE/editor files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Secrets
.env

# Output folders (optional)
outputs/
node_modules/
credentials.json
token.pickle
